includes:
    - phpstan-baseline.neon

parameters:

    paths:
        - src/

    # Level 9 is the highest level
    level: 6

    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - identifier: trait.unused

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
